@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to Uber Goods delivery service! <br /> Our goal is to provide an innovative way for you, our valued customer, to receive Ebay merchandise in a timely manner. <br /> </p>
