@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>


<h3>Welcome to Uber Goods delivery service!</h3>
<p>Here at Uber Goods, our goal is to provide an innovative way for you, our valued customer, to receive ebay merchandise in a timely manner. <br />
You can browse ebay's wide selection of merchandise to your hearts desire. When you are ready for a purchase, click the buy button on the item you want. This will then direct to PayPal where you will continue on with your transaction. 
You <strong>Must</strong> have a PayPal account to make purchases through our service. 
From there you will be directed to our Route Calculator window. Here you will type in the location of the store you purchased your item from and the location you would like your driver to deliver your items. 
Once your route has been illuminated on our google map, make sure the information above is correct, then proceed to submit your route to a driver. A driver will be notified of your request and you will be notified of that your package is on its way. </p>

<div style="text-align:center"><img src="http://cdn.pocket-lint.com/r/s/970x/assets/images/phpr2bdsm.png" alt="deliverybag" style="width:500px;height:300px" ; /><img src="http://www.adweek.com/files/imagecache/node-detail/news_article/ebay-paypal-hed-2014.jpg" alt="ebayPaypal" style="width:500px;height:300px" ; /></div>
