@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    N. Plakinton ave.<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    414.533.0623
</address>

<address>
    <strong>Support:</strong>   <a href="jcanderson195@gmail.com">jcanderson195@gmail.com</a><br />
    <strong>Support:</strong> <a href="laschm002@gmail.com">laschm002@gmail.com</a><br />
    <strong>Support:</strong> <a href="Insert Huy email here">Insert Huy email here</a>

</address>