@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    333 N. Plakinton ave.<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    414.533.0623
</address>

<div style="text-align:left"><img src="http://128.104.244.45/NR-Images/web/219453.jpg" alt="building" style="width:500px;height:300px" ; /></div>

    

    <address>
        <strong>Support:</strong>   <a href="jcanderson195@gmail.com">jcanderson195@gmail.com</a><br />
        <strong>Support:</strong> <a href="laschm002@gmail.com">laschm002@gmail.com</a><br />
        <strong>Support:</strong> <a href="Insert Huy email here">Insert Huy email here</a>

    </address>
