@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UBER Goods</h1>
    <p class="lead">Welcome to the next innovation from UBER!</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div style="text-align:center"><img src="http://cdn0.dailydot.com/cache/5c/0c/5c0cf0e9a63860de2f40d2b02f91445d.jpg" alt="UberSignal" style="width:800px;height:300px";/></div>

<div class="row">
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            Wondering who to contact for your UBER Goods questions? Please visit our contact page for more information!
        </p>
        <p><a class="btn btn-default" href="/Home/Contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="https://cdn4.iconfinder.com/data/icons/flat-brand-logo-2/512/ebay-128.png" alt="headlights" style="width:150px;height:75px" ; />
        
        <p>Ready to get started? Make sure you are a registered customer in our system. Then you can begin your journey here at UBER Goods! </p>
        <p><a class="btn btn-default" href="/Home/eBay">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Here?</h2>
        <p>New here? Here you can register to become a new customer or you can join the exciting world of UBER and GET PAID to deliver goods to our valued customers. JOIN NOW!</p>
        <p><a class="btn btn-default" href="/Home/Registry">Learn more &raquo;</a></p>
    </div>
</div>