@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Registry";
}
<h2>@ViewBag.Title</h2>


<a href="/Customers/Create">Register New Customer</a><br />
<a href="/Drivers/Create">Register New Driver</a>
<p></p>
<a href="/Customers/">View Registered Customers</a><br />
<a href="/Drivers/">View Registered Drivers</a>




