@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Registry";
}
<h2>@ViewBag.Title</h2>



<p style="text-align:left"><a href="/Customers/Create">Register New Customer</a><br />
<a href="/Customers/">View Registered Customers</a></p>


<p style="text-align:right"><a href="/Drivers/Create">Register New Driver</a><br />
<a href="/Drivers/">View Registered Drivers</a></p>


    <div style="text-align:center"><img src="http://blog.ewaydirect.com/wp-content/uploads/2013/05/shutterstock_123303925.jpg" alt="newcustomer" style="width:500px;height:300px" ; /><img src="https://www.compass-insurance-agency.com/tips-advice/wp-content/uploads/2015/05/uber-car.png" alt="newdriver" style="width:500px;height:300px" ; /></div>



