@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "RouteSubmission";
}

<h2>Thank you!</h2>

<p><strong>A driver will be notified of your delivery request and you will be notified when your order has been processed.</strong></p>
<br />
<a href="/Home/">Back to Home page</a> 