
@{
    ViewBag.Title = "PaymentMethod";
}

<h2>Payment Method</h2>
@Html.ActionLink("Pay Direct With Credit Card", "PaymentWithCreditCard", "Paypal")<br />
@Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal")




